/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    margin: 0 0 6em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.contact-us-container {
    position: sticky;
    width: 78%;
    background: #fff;
    border-radius: 6px;
    margin: 60px;
    left: 156px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-us-container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-us-container .content .right-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    position: relative;
}

hr.divider {
    color: black;
    height: 239px;
    border-width: 30px;
    border: 0.3px solid #00000057;
    left: 45px;
    position: relative;
}

.content .right-container .info {
    margin: 14px;
    text-align: center;
}

.content .right-container .info i {
    font-size: 30px;
    color: #E5383B;
    margin-bottom: 10px;
}

.content .right-container .info .info-name {
    font-size: 18px;
    font-weight: 500;
}

.content .right-container .info .text-one,
.content .right-container .info .text-two {
    font-size: 14px;
    color: #E5383B;
}

.contact-us-container .content .right-container {
    width: 75%;
    margin-left: 75px;
}

.content .left-container .info-name-text {
    font-size: 23px;
    font-weight: 600;
    color: #E5383B;
}

.left-container .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.left-container .input-box input,
.left-container .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f5e0e1;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
    color: #650b0b;
}

a.phone {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

input::placeholder,
textarea#message::placeholder {
    color: #fdfdfdc7;
}

hr.horizontal1,
hr.horizontal2 {
    border: 0.3px solid #00000057;
    width: 222px;
}

.left-container .message-box {
    min-height: 110px;
    background: #f6d3d4;
    border-radius: 10px;
}

.left-container .input-box textarea {
    padding-top: 6px;
}

.left-container .button {
    display: inline-block;
    margin-top: 12px;
}

.left-container .submit-button {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 6px;
    background: #e5282c;
    cursor: pointer;
    transition: all 0.4s ease;
}

.submit-button:hover {
    background: #cf1215;
    transform: scale(1.1);
}

.alert {
    color: red;
    height: 20px;
    font-size: 17px;
    bottom: 15px;
    position: relative;
}

div#received {
    padding: 30px 0 0;
    color: #cf1215;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.socials .fab {
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 920px) {

    .contact-us-container {
        width: 80%;
        padding: 30px 40px 40px 30px;
    }

    .content .right-container {
        width: 75%;
        margin-left: 55px;
    }

    hr.horizontal1 {
        border: 0.3px solid #00000057;
        width: 222px;
    }
}

@media (max-width: 820px) {
    .contact-us-container {
        margin: 40px;
        height: 100%;
    }

    .contact-us-container .content {
        flex-direction: column;
    }

    .contact-us-container .content .right-container {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    hr.divider {
        display: none;
    }

    hr.horizontal1,
    hr.horizontal2 {
        display: none;
    }

    .contact-us-container .content .right-container::before {
        display: none;
    }

    .contact-us-container .content .right-container {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 550px) {
    .contact-us-container {
        margin: 40px;
        height: 100%;
    }

    .contact-us-container .content {
        flex-direction: column;
    }

    .contact-us-container .content .right-container {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    hr.divider {
        display: none;
    }

    hr.horizontal1,
    hr.horizontal2 {
        display: none;
    }

    .contact-us-container .content .right-container::before {
        display: none;
    }

    .contact-us-container .content .right-container {
        width: 100%;
        margin-left: 0;
    }
}