@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  transition: .3s;
  z-index: 0;
}

.sign_in-out {
  border: transparent;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  margin: 1em;
  font-family: 'Poppins', sans-serif;
}

input#inOutBtn:hover {
  color: #A4161A;
  font-size: 20px;
  font-weight: bold;
  transform: scale(1.07);
}

html {
  scroll-behavior: smooth;
  transition: .3s;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 100%;
  overflow-x: hidden;
  background-color: #0B090A;
}

nav {
  position: relative;
  background-color: #323334;
  overflow: hidden;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 0 24px rgba(68, 66, 67, 0.5); */
}

.game-logo {
  max-width: 80px;
  display: flex;
  padding: 10px;
  border-radius: 50%;
}

.left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: left;
}

.right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: flex;
}

nav li a {
  display: block;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  transition: 0.4s;
}

nav li a:hover {
  color: #A4161A;
  font-size: 20px;
  font-weight: bold;
  transform: scale(1.07);
}

.nav-bar {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 1.2rem;
  padding-right: 20px;
  color: white;
}

button.toggle-btn {
  background-color: #323334;
  border: none;
}

main hr {
  max-width: 80%;
  opacity: 0.4;
}

.search-bar {
  padding: 50px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 1600px;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.search-input {
  align-items: center;
  background: rgb(32, 32, 32);
  border-radius: 24px;
  display: flex;
  height: 40px;
  margin: 8px 0;
  min-width: 230px;
  width: 230px;
  font: inherit;
  color: inherit;
}

input::placeholder {
  color: white;
}

input[name="search"] {
  color: white;
  padding: 0 20px 0 20px;
  border: none;
}

.search {
  display: flex;
}

.search img {
  max-width: 20px;
}

.search button {
  padding: 0 0 0 20px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  position: relative;
  color: rgba(245, 245, 245, 0.6);
}

.games-display {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: 10%;
  margin-right: auto;
  width: 78%;
  max-width: 1600px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
}

.picture-container {
  grid-row-start: 1;
  grid-row-end: 4;
}

.picture-container {
  position: relative;
}

.picture-container .game-pics {
  max-height: 100%;
  max-width: 100%;
  border-radius: 30px;
  border: solid 6px #0B090A;
  box-shadow: 0 0 36px rgba(134, 134, 134, 0.118);
}

.picture-container .hl-logo {
  cursor: pointer;
  position: absolute;
  max-width: 40%;
  top: 180px;
  left: 10px;
  width: 100%;
  transition: 0.3s;
}

.picture-container .hl-logo:hover {
  transform: scale(1.07);
}

.picture-container h4,
h3,
.price,
.ca,
.buy-now button {
  position: absolute;
  font-size: 20px;
  top: 280px;
  left: 30px;
  width: 100%;
  color: white;
}

.picture-container .out-now {
  font-family: 'Sarabun', sans-serif;
  font-style: italic;
}

.picture-container h3 {
  display: flex;
  top: 330px;
  left: 30px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
}

.picture-container .price {
  top: 365px;
  left: 30px;
  padding-top: 10px;
}

.price .sale {
  text-decoration: line-through;
  opacity: 0.7;
}

.picture-container .price span {
  font-style: italic;
}

.picture-container .ca {
  top: 430px;
  left: 30px;
}

.picture-container button {
  cursor: pointer;
  top: 440px;
  width: 150px;
  height: 60px;
  left: 30px;
  background-color: #f9fbfb4a;
  border-radius: 20px;
  border: none;
}

.game-container .minimized-games {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);

}

.minimized-games .mini-hogwarts,
.mini-fortnite,
.mini-valorant,
.mini-sonsofforest {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 14px;
  background-color: #78767660;
  transition: 0.3s;
}

.minimized-games .mini-hogwarts:hover,
.mini-fortnite:hover,
.mini-valorant:hover,
.mini-sonsofforest:hover {
  background-color: #78767686;
  transform: scale(1.04);
}

.mini-hogwarts img,
.mini-fortnite img,
.mini-sonsofforest img {
  border-radius: 10px;
}

.minimized-games .mini-hogwarts h5,
.mini-fortnite h5,
.mini-valorant h5,
.mini-sonsofforest h5 {
  color: white;
  padding-left: 10px;
  font-size: 14px;
}

.footer-container {
  padding: 20px 0;
  background-color: #323334;
  color: #D3D3D3;
  box-shadow: 0 0 12px rgba(68, 66, 67, 0.5);
}

.footer-container ul,
address {
  padding: 10px;
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer-container address {
  flex-direction: column;
}

.footer-container li {
  padding: 0 10px;
}

.footer-container ul a,
address,
address a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-container ul a:hover,
address:hover,
address a:hover {
  opacity: 1;
}

.footer-container .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #787676;
  margin-bottom: 0;
}

/* game container */
.main {
  margin: 0 0 6em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1:first-of-type {
  margin: 3em;
}

.main h1,
.main h2 {
  color: #FFF;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 4em;
  margin: 0 2em;
}

.game {
    background: #323334;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2em;
}

.game h2 {
  padding: 0.7rem;
}

.game img {
  width: 100%;
  height: auto;
}

.info {
  text-align: right;
}

.info p {
  color: #FFF;
}

button.like {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 2em;
}

button.like:active {
  color: #ffb4d7;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.socials i {
  padding-right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #container {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    margin: 0;
  }
}


/* tablet */
@media (max-width: 920px) {
  .games-display {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
  }

  .picture-container,
  .game-container .minimized-games {
    grid-column-start: span 1;
  }

  .game-container .minimized-games {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2em;
    margin: 4em 0 4em 0;
  }

  .picture-container h4,
  h3,
  .price,
  .ca,
  .buy-now button {
    position: absolute;
  }

  .picture-container .hl-logo {
    cursor: pointer;
    position: absolute;
    max-width: 30%;
    top: 30px;
    left: 10px;
  }

  .buy-now button {
    width: 8em;
    top: 260px;
  }

  .picture-container h4 {
    top: 112px;
  }

  h3.description {
    top: 147px;
  }

  div.picture-container h3.price {
    top: 194px;
  }

  /* game container */
  .main {
    margin: 0 0 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
  }

  .game {

    width: 22em;
    padding: 1em;
    border-radius: 2em;
  }

}

@media (max-width: 414px) {
  .game-container .minimized-games {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    gap: 2em;
    margin: 4em 0 4em 0;
  }

  .buy-now button {
    width: 6em;
    padding: 0;
    height: 2em;
    font-size: 14px;
    top: 110px;
  }

  div.picture-container h3.price {
    top: 130px;
    font-size: 12px;
  }

  h4.out-now {
    display: none;
  }

  h3.description {
    display: none;
  }

  /* game container */
  .main {
    margin: 3em 0 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container {
    display: grid;
    grid-template-columns: auto;
    gap: 2em;
  }

  .game {
    width: 22em;
    padding: 1em;
    border-radius: 2em;
  }
}

.cart {
  left: 71%;
  top: 15%;
  position: fixed;
  border:1px solid white;
  width: 26%;
  padding: 10px 20px;
  color: white;
  font-family: 'Sarabun';
  z-index: 1;
  background-color: black;
  border-radius: 10px;
}

.cart-icon {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

.cart-icon img {
  /* position: fixed; */
  filter: invert(100%);
  border: 1px solid black;
  background-color: white;
  border-radius: 20%;
  padding: -0 15px;
  width: 40px;
}


.cart-icon h2 {
  font-size: 32px;
}

.cart-wrapper {
  overflow-y: auto;
  max-height: 350px;
}

.subtotal {
  text-align: right;
  padding: 5%;
}

.checkout, .view-cart {
  width: 95%;
  text-align: center;
  cursor: pointer;
  background-color: #323334;
  font-size: 32px;
  margin: 10px auto;
  padding: 10px 5px;
}

.view-cart {
  background-color: white;
  border: 2px solid #323334;
  color: #323334;
}

.cart-item {
  display: grid;
  grid-template-columns: 4fr 6fr 1fr;
  padding: 5% 2%;
  border-bottom: solid 1px lightgray;
}

.cart-item img {
  width: 100%;
}

.item-info {
  padding-left: 20%;
}

.cart-item p {
  text-align: left;
}

.cancel img {
    filter: invert(100%);
    width: 50%;
}

.cart-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cart-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}

/* Handle */
.cart-wrapper::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
.cart-wrapper::-webkit-scrollbar-thumb:hover {
  background: #323334; 
}